body {

  background-attachment:#1e1f24;
     color: #333;
       text-align: left;
       font-family: "Ariel";
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#cabezera
{
  background-color: #37488b;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}


#Cabezera #logo 
{
  width: 15 px;
  vertical-align: middle;

}

#cabezera #tagline
{
  padding: 0 0 0 lem;
  font-weight: normal;
  font-size: 0.8em;
}

#container 
{
  width: 70%;
  padding: lem;
  text-align: left;
  border: 1px solid #333;
  margin: 0 auto;
}

#container h1
{
  font-size: 20px;
}

#post 
{
  background: white;
  padding: lem;
}